/**
 * @author : Ranjith Suranga <suranga@ijse.lk>
 * @since : 11/26/20
**/

#manage-items {

  #tbl-items th:first-child, #tbl-items td:first-child{
    width: 80px;
    text-align: center;
  }

  #tbl-items th:last-child, #tbl-items td:last-child{
    width: 50px;
    text-align: center;
  }

  .card{
    height: 100%;
  }

  .pagination{
    justify-content: flex-end;
  }

}
